
body {
    background-color: antiquewhite;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
min-height: 72vh;
    background-color: black;
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('background.jpg');
}

nav ul{
   
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
  
}
nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

#player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.current-song {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 18px;
    margin-bottom: 10px;
}

#masterPlay {
    cursor: pointer;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
}

#myProgressBar {
    width: 80%;
    cursor: pointer;
}

.song-list {
    text-align: left;
}

.songItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    color: black;
    padding: 10px;
    cursor: pointer;
     height: 50px;
    margin: 12px 0;
    align-items: center;
    border-radius: 34px;
}

.songItem img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

    
.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songName {
    flex-grow: 1;
    text-align: left;
    font-size: 16px;
}

.songDuration {
    font-size: 14px;
    margin-right: 10px;
}

.songItemPlay {
    cursor: pointer;
    font-size: 18px;
    background: none;
    border: none;
}
.bottom{
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    z-index: 1000;
}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
.icons{
    margin-top: 14px; 
}
.icons i{
    cursor: pointer;
    margin-right: 20px;
    font-size:25px ;
}
@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }
